h1, 
body, 
p{
    font-family: "Inria sans", Verdana, Geneva, Tahoma, sans-serif ;
}

header {
    background-color:#113340;
    color: white;
}

header a{
    color: white;
    padding: 10px;
}

.navbar{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1.5em;
    letter-spacing: 3px;
    margin: 30px 30px 30px -10px;

}
.navbar-logo img{
    width: 60%;
    border-radius: 5px;
}

.navbar a{
    margin-left: 0px;
}

.cta-button{
    background-color: #113340;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 80px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.cta-small {
    padding: 10px 16px;
}
.shipping-discount{
    background-color: #113340;
    color: white;
}
img{
    background-color: white;
    width: 100%;
}
p{
    max-width: 50ch;
}

/*Footer*/
footer{
    background-color: #113340;
    color: white;
    display: flex;
    gap: 25px;
}

.footer_companylogo >*{
    flex: 4;
    border-radius: 5px;
}

.footer-container{
    max-width: 1000px;
    display: flex;
    gap: 50px;
    margin: 10px 10px 10px 10px;
    letter-spacing: 2px;
}

.footer-item ul{
    padding: 0px;
    margin: 5px;
}

/*Links*/
a{
    text-decoration: none;
}
/*header/navigation on all pages*/
nav ul{
    padding: 0px;
    
}
nav li{
    display: inline-block;
}

.active{
    text-decoration: underline;
}


/*home page */
.photo-merge {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 4px;
    box-shadow: 0 0 20px;
}
.top{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background-image: url(raindrops.jpg);
    background-size: cover;
    background-position: center;
}

.bottom{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background-image: url(tent.jpg);
    background-size: cover;
    background-position: center;
}
.starter{
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
}

.starter >*{
    flex: 1;
}

.starter-text{
    letter-spacing: 3px;
    text-align: center;
    margin-top: 200px;
}


/*product*/
.main_product h2, 
.ourstory{
    margin: 30px;
}
.available_products{
    border-style:solid;
    border-color: #757575;
    justify-content: space-between;
    text-align: left;
    box-sizing: border-box;
    align-items: center;
}

.avaliable{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 30px;
}

.available_products img{
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
}

.avaliable >* {
    flex: 1;
}

/*about us page */
.aboutus{
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.aboutus > *{
    flex: 1;
}

.aboutus img{
    border-radius: 50%;
}
/*product details page */
.product{
    max-width: 1000px;
    border-style:solid;
    border-color: #757575;
    justify-content: space-between;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin: auto;
    display: flex;
}

.product img{
    width: 100%;
    height: auto;
    max-width: 200px;
    display: block;
}

.product-info{
    text-align: left;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
}

.form-row{
    display: flex;
    gap: 5px;
}

.price{
    font-weight: bold;
}



