h1, 
body, 
p{
    font-family: "Inria sans", Verdana, Geneva, Tahoma, sans-serif ;
}

header {
    background-color:#113340;
    header a{color: #fff;}  
    color: white;
}
.cta-button{
    background-color: #113340;
    color: white;
    font-size: 1.2em;
}
.shipping-discount{
    background-color: #113340;
    color: white;
}

.avaliable--products{
    border-color: #757575;
}
footer{
    background-color: #113340;
    color: white;
}
.footer-copy{
    text-align: center;
}
img{
    background-color: white;
    width: 100%;
}
p{
    max-width: 50ch;
}
/*home page */
.photo-merge {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 4px;
    box-shadow: 0 0 20px;
}
.top{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background-image: url(raindrops.jpg);
    background-size: cover;
    background-position: center;
}

.bottom{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background-image: url(tent.jpg);
    background-size: cover;
    background-position: center;
}
