h1, 
body, 
p{
    font-family: "Inria sans", Verdana, Geneva, Tahoma, sans-serif ;
}
.body{
    min-height: 100vh;
    margin: 0pc;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header{
    background-color:#113340;
    color: white;
}

header a{
    color: white;
    padding: 10px;
}

.navbar{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 1.5em;
    letter-spacing: 3px;
    margin: 30px 30px 30px -10px;

}
.navbar-logo img{
    width: 60%;
    border-radius: 5px;
}

.navbar a{
    margin-left: 0px;
}

.cta-button{
    background-color: #113340;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 80px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.cta-small {
    padding: 5px 16px;
    grid-column:2;
    grid-row: 3/5;
    align-self: center;
    margin-top: 25px;
}
.shipping-discount{
    background-color: #113340;
    color: white;
}
img{
    background-color: white;
    width: 100%;
}
p{
    max-width: 50ch;
}

.header-icon-button{
    border: none; 
    background: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

/*Footer*/
footer{
    background-color: #113340;
    color: white;
    display: flex;
    gap: 25px;
}

.footer_companylogo >*{
    flex: 4;
    border-radius: 5px;
}

.footer-container{
    max-width: 1000px;
    display: flex;
    gap: 50px;
    margin: 10px 10px 10px 10px;
    letter-spacing: 2px;
}

.footer-item ul{
    padding: 0px;
    margin: 5px;
}

.footer-link{
    color: white;
}
.footer-aboutus{
    color: white;
}
/*Links*/
a{
    text-decoration: none;
}
/*header/navigation on all pages*/
nav ul{
    padding: 0px;
    
}
nav li{
    display: inline-block;
}

.active{
    text-decoration: underline;
}


/*home page */
.photo-merge {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 4px;
    box-shadow: 0 0 20px;
}
.top{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background-image: url(raindrops.jpg);
    background-size: cover;
    background-position: center;
}

.bottom{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background-image: url(tent.jpg);
    background-size: cover;
    background-position: center;
}
.starter{
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
}

.starter >*{
    flex: 1;
}

.starter-text{
    letter-spacing: 3px;
    text-align: center;
    margin-top: 200px;
}


/*product*/
.available_products{
    border-style:solid;
    border-color: #757575;
    justify-content: space-between;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.available_products img{
    grid-column: -1/1;
}
.available_products h3, 
.available_products p{
    grid-column: 1;
}
.avaliable{
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 50px;
    padding: 10px;
}

.available_products img{
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
}

.avaliable h2{
    grid-column: -1/1;

}
.size{
    margin-top: 0;
    margin-bottom: 10px;
}
.avaliable h3{
    min-height: 48px;
    font-size: 1.2em;
    white-space: nowrap;
}
/*about us page */
.aboutus{
    max-width: 1000px;
    margin-bottom: 50px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.aboutus h1{
  grid-column: -1/1;
}

.aboutus img{
    width: 100%;
}

.aboutus p{
    letter-spacing: 1.5px;
}
/*product details page */
.product{
    max-width: 1000px;
    border-style:solid;
    border-color: #757575;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px auto;
    
}

.product img{
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    grid-column: -1/1;
    margin-left: 10px;
    padding: 10px;
}

.price{
    font-weight: bold;
}

.form-row{
    grid-column: 1/-1;
    padding: 10px;
    margin-left: 10px;
}
.product-info{
    grid-column: 1 / -1;
    padding: 10px;
}
.product-info h3, 
.product-info p{
    grid-column: 1 / -1;
    margin-left: 10px;
}

.action-button{
    grid-column: 1/-1; 
    padding: 10px;
    margin-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.wishlist-button{
    border: none; 
    background: none;
    cursor: pointer;
    color: #113340;
    font-size: 15px;
}

.product-info p{
    letter-spacing: 1.5px;
}