h1, 
body, 
p{
    font-family: "Inria sans", Verdana, Geneva, Tahoma, sans-serif ;
}

header {
    background-color:#113340;
    color: white;
}

header a{
    color: white;
    padding: 10px;
}

.navbar{
    width: 100%;
    padding: 15px 75px;
    display: flex;
    justify-items: auto;
    align-items: center;
}
.navbar-logo{
    size: 100%;
}



.cta-button{
    background-color: #113340;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 80px;
    border-radius: 5px;
}
.shipping-discount{
    background-color: #113340;
    color: white;
}
img{
    background-color: white;
    width: 100%;
}
p{
    max-width: 50ch;
}

/*Footer*/
footer{
    background-color: #113340;
    color: white;
}
.footer-copy{
    text-align: center;
}

/*Links*/
a{
    text-decoration: none;
}
/*header/navigation on all pages*/
nav ul{
    padding: 0px;
    
}
nav li{
    display: inline-block;
}

.active{
    text-decoration: underline;
}

.navbar-search{
    display: inline-block;
}


/*home page */
.photo-merge {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    border: 4px;
    box-shadow: 0 0 20px;
}
.top{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background-image: url(raindrops.jpg);
    background-size: cover;
    background-position: center;
}

.bottom{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background-image: url(tent.jpg);
    background-size: cover;
    background-position: center;
}

/*product*/
.available_products{
    border-style:groove;
    border-color: #757575;
}